absl-py==2.2.2
accelerate==0.34.2
aiohappyeyeballs==2.4.0
aiohttp==3.10.5
aiosignal==1.3.1
annotated-types==0.7.0
astunparse==1.6.3
attrs==24.2.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.2.1
colorama==0.4.6
contourpy==1.3.2
cycler==0.12.1
datasets==3.6.0
dill==0.3.8
docker-pycreds==0.4.0
fastdtw==0.3.4
ffmpeg-python==0.2.0
filelock==3.16.1
flatbuffers==25.2.10
fonttools==4.58.0
frozenlist==1.4.1
fsspec==2024.6.1
future==1.0.0
gast==0.6.0
gitdb==4.0.12
GitPython==3.1.44
google-pasta==0.2.0
grpcio==1.71.0
h5py==3.13.0
huggingface-hub==0.25.0
idna==3.10
imageio==2.37.0
imageio-ffmpeg==0.6.0
jax==0.6.1
jaxlib==0.6.1
Jinja2==3.1.4
keras==3.10.0
kiwisolver==1.4.8
libclang==18.1.1
Markdown==3.8
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.10.3
mdurl==0.1.2
mediapipe==0.10.21
ml_dtypes==0.5.1
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.16
namex==0.0.9
networkx==3.3
nltk==3.9.1
numpy==1.26.4
opencv-contrib-python==4.11.0.86
opencv-python==4.11.0.86
optree==0.15.0
opt_einsum==3.4.0
packaging==24.1
pandas==2.2.2
pillow==11.0.0
pip==25.0.1
protobuf==4.25.7
psutil==6.0.0
pyarrow==17.0.0
pydantic==2.11.5
pydantic_core==2.33.2
Pygments==2.19.1
pyparsing==3.2.3
python-dateutil==2.9.0.post0
pytz==2024.2
PyYAML==6.0.2
regex==2024.9.11
requests==2.32.3
rich==14.0.0
safetensors==0.4.5
seaborn==0.13.2
sentencepiece==0.2.0
sentry-sdk==2.29.1
setproctitle==1.3.6
setuptools==78.1.0
six==1.16.0
smmap==5.0.2
sounddevice==0.5.2
sympy==1.13.1
tensorboard==2.19.0
tensorboard-data-server==0.7.2
tensorflow==2.19.0
termcolor==3.1.0
tokenizers==0.19.1
torch==2.6.0+cu126
torchaudio==2.6.0+cu126
torchvision==0.21.0+cu126
tqdm==4.66.5
transformers==4.44.2
typing_extensions==4.12.2
typing-inspection==0.4.1
tzdata==2024.1
urllib3==2.2.3
walkdir==0.4.1
wandb==0.19.11
Werkzeug==3.1.3
wheel==0.45.1
wrapt==1.17.2
xxhash==3.5.0
yarl==1.11.1
audioread==3.0.1
cffi==1.17.1
decorator==5.2.1
joblib==1.4.2
lazy_loader==0.4
librosa==0.11.0
llvmlite==0.44.0
msgpack==1.1.0
numba==0.61.2
pip==24.2
platformdirs==4.3.7
pooch==1.8.2
pycparser==2.22
scikit-learn==1.6.1
scipy==1.15.2
soundfile==0.13.1
soxr==0.5.0.post1
threadpoolctl==3.6.0
